# DataFrame 만들기

데이터 프레임은 데이터를 직접 입력해서 만들 수도 있고, 외부 데이터를 가져와서 만들 수도 있다.

## 데이터 입력해 데이터 프레임 만들기
학생 4명이 영어 시험과 수학 시험을 봤다고 가정하고 다음과 같은 데이터 프레임을 만들어보자.

|이름|영어 점수|수학 점수|
|---|---|---|
|김지훈|90|50|
|이유진|80|60|
|박동현|60|100|
|김민지|70|20|

### pandas 패키지 로드하기
`pandas`는 데이터를 가공할 때 사용하는 패키지이다.

In [1]:
import pandas as pd

### 데이터 프레임 만들기

데이터 프레임을 만들 때는 `pandas`의 `DataFrame()`을 이용한다. 이 함수 안에 중괄호(`{}`)를 입력한 다음 변수명, 콜론(`:`), 변수에 넣을 값을 차례로 입력한다. 변수명은 따옴표를 이용해 문자 형태로 입력하고, 변수에 넣을 값은 (`[]`) 안에 입력한다.

In [3]:
df = pd.DataFrame({'name'    : ['김지훈', '이유진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math'    : [50, 60, 100, 20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

## 데이터 프레임으로 분석하기

데이터 프레임을 완성했으니 이걸로 데이터를 분석해보자. `sum()`을 이용해 전체 학생의 영어, 수학 점수 합계를 구할 수 있다.

### 특정 변수의 값 추출

데이터 프레임에서 특정 변수의 값을 추출하는 방법을 알아보자. 데이터 프레임 이름 뒤에 `[]`를 입력한 다음 문자 형태로 변수명을 입력하면 된다. 다음 코드를 실행하면 `df`에서 영어 점수만 추출한다.

In [4]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

### 변수의 값으로 합계 구하기

`df`에서 영어 점수를 추출하는 코드를 `sum()`에 입력하면 영어 점수 합계를 출력한다.

In [6]:
sum(df['english'])

300

같은 방식으로 `english` 대신 `math`를 입력해 수학 점수 합계를 구한다.

In [7]:
sum(df['math'])

230

### 변수의 값으로 평균 구하기

이번에는 영어, 수학 점수의 평균을 구해보자. 앞에서 구한 합계를 학생 수로 나누면 된다.

In [8]:
sum(df['english']) / 4

75.0

In [9]:
sum(df['math']) / 4

57.5

## 연습 문제
다음 표의 내용을 데이터 프레임으로 만들어 출력하라

|제품|가격|판매량|
|---|---|---|
|사과|1800|24|
|딸기|1500|38|
|수박|3000|13|

또한 만든 데이터 프레임을 이용해 과일의 가격 평균과 판매량 평균을 구하라

In [12]:
df_h = pd.DataFrame({'제품': ['사과', '딸기', '수박'],
                     '가격': [1800, 1500, 3000],
                     '판매량': [24,38,13]})
df_h

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [13]:
sum(df_h['가격']) / 3   # 가격 평균

2100.0

In [14]:
sum(df_h['판매량']) / 3   # 판매량 평균

25.0