## Python Basics

__1. Correct indentation and strings__
- Strings are used for storing and representing text data.(Like HTML)

In [2]:
print('This sign is an excellent job!')
print('Sign name \n is Practical calls')
print("Those who don't take \nthis hks regret their decisions?")  #Check Single and Double quotation

This sign is an excellent job!
Sign name
 is Practical calls
Those who don't take
this hks regret their decisions?

__2. Integers, floats and decimals: using Python as a calculator__
 - Variable names are identifiers, so they follow the rules of identifier.
 - Variables store values such as strings, numbers, and other data types.
 - Use a hash #, to write memos in a line.

In [7]:
#addition: using a hash(#) sign, you can write memos.
23+17

40

In [6]:
2/3

In [11]:
#using ; sign, you can declare more command lines in one line.
x = 23; y = 17
print(x + y)
print(x + y, x - y, x * y, x/y)

40
40 6 391 1.3529411764705883

__3. Data types and simple use of print function__

In [2]:
y = 5 # assing a value to the variable y.
z = 7.5
# Addition
print("y + z =", y+z)
# Subtraction
print("z - y =", z-y)
# Multiplication
print("y * z =", y*z)
# Division
print("y / z =", y/z)
# Exponent
print("y ** z =", y**z)
# Floor division: returns the highest integer, not greater than result 
print("z // y =", z//y)
# Remainer
print("z % y =", z%y)
print(type(y))
print(type(z))

y + z = 12.5
z - y = 2.5
y * z = 37.5
y / z = 0.6666666666666666
y ** z = 174692.81074217107
z // y = 1.0
z % y = 2.5
<class 'int'>
<class 'float'>

__4. String, Boolean, and triple quoted strings__

 - Boolean expression
 - """ are used to write multiple line strings """.
 - ls also used to docstrings.

In [3]:
print(7 > 3)
print(3 > 7)
x = 7 > 3
print(type(x), x)

True
False
<class 'bool'> True

In [5]:
"""Triple quoted strings are used to write multiple line strings.
This is an example of a doc string."""
"""I like you"""

"""
a + b = c
d + e = g
"""

'\na + b =c\nd + e =g\n'

__5. Taking input values__

In [1]:
your_name = input('What is your name?')
print(your_name)

What is your name? wooseok

wooseok

In [7]:
your_age = input('How old are you?')
print(your_age, type(your_age))

How old are you? 60

60 <class 'str'>

In [5]:
my_age = input('How old am I?')
print(your_age + my_age)
# string concatenation

How old am I? 20

1720

In [6]:
# Turning string value to integer
print((int(your_age)+int(my_age)))
int(21.8)
# int fuction converts strings and floating numbers into integers

37

21

In [8]:
print(float(your_age) + float(my_age))

80.0

__6. If clause and comparison operators__

[Comparison operators]
 - x > y: x is greater than y
 - x < y: x is less than y
 - x >= y: x is greater than or equal to y
 - x <= y: x is less than or equal to y
 - x == y: x is equal to y
 - x != y: x is not equal to y

[If clause]
 - if: performs an action if a condition is met (True) and no action if not.
 - if...else: some as above and returns altermative action if not.

In [3]:
x = int(input("Enter an integer"))

if x==1:  #if-clause
    print("x has a value of 1")
else:
    print("x does not have a value of 1")
    
var1 = int(input('Enter the first integer'))
if var1 < 0:
    print('The first integer is',var1,'and its value is nagative')

var2 = int(input('Enter the second integer'))
if var2 < 0:
    print('The second integer is negative', 'and its value is ',var2)
else:
    print('The second integer is positive', 'and its value is ', var2)

Enter an integer

ValueError: invalid literal for int() with base 10: ''

__7. Dynamic value assignment and type changing__

 - What happens if you assign different values for the same variable?

In [9]:
print(x, type(x))

x = 2.5
print(x, type(x))

x = 'Arnold'
print(x, type(x))

Arnold <class 'str'>
2.5 <class 'float'>
Arnold <class 'str'>

 - 위를 통해서 기본 파이썬은 변수의 '값'뿐만 아니라 '데이터타입'에 대한 정보를 모두 저장한다는 것을 알 수 있다!

__8. Multiple statements on a single line__

 - Separate two command lines with semicolon

In [10]:
print("Hello"); print("This is KOOC content \nfor Python basics.")

Hello
This is KOOC content
for Python basics.